/* CSS declarations go here */

body {

  font-family: Arial;

}

h1 {

	font-style: italic;
	font-size: 50px;
	margin-bottom: 5px;
}

input {

	height: 30px;
	width: 150px;
	font-size: 20px;
}

.byline {

	font-style: italic;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
}

#availableString {

	font-size: 30px;
	margin-top: 150px;
	text-align: center;
}

#announcement {

	font-size: 30px;
	color: blue;
	margin-top: 150px;
	text-align: center;
}

#passwordForm {

	position: absolute;
	bottom: 10px;
	right: 10px;
}

